* {
    margin: 0;
    padding: 0;
}

.italic {
    font-style: italic;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-left {
    margin-left: 30px;
}

.container {
    max-width: 1024px;
    margin: 20px auto;
}

.header {
    padding: 10px 10px;
}

.contacts-avatar {
    display: flex;
    justify-content: space-between;
}

.contacts-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts-info a {
    text-decoration: none;
}

.contacts-info p {
    font-size: 15px;
}

.avatar {
    border-radius: 100px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 20px 0;
    font-size: 20px;
}

@media screen and (max-width: 660px) {
    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style-type: none;
        margin: 20px 0;
        font-size: 20px;
    }

    .navigation li {
        padding: 10px;
        align-self: center;
    }
}

.navigation a {
    text-decoration: none;
}

.summary-section {
    padding: 10px 10px;
    font-size: 18px;
    text-align: justify;
}

.skills-section {
    padding: 10px 10px;
    font-size: 18px;
}